@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@font-face{
      font-family: 'Android';
      src: url('../fontes/idroid.otf') format('opentype');
      font-weight: normal;
}

:root{
   --cor0: #c5ebd6;
   --cor1: #83e1ad;
   --cor2: #3ddc84;
   --cor3: #2fa866;
   --cor4: #1a5c37;
   --cor5: #063d1e;
   --fonte-padrao:arial, verdana, helvetica, sans-serif;
   --fonte-destaque:'Bebas Neue', sans-serif;
   --fonte-andrid:'android',sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}

a.externo::after{
    content: "\1F517";
}

header>h1{
    
    font-family: var(--fonte-destaque);
    color: white;
    margin-top: 10px;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header>p{
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);

}

header{
    background-image:linear-gradient(to bottom,var(--cor3),var(--cor5));
    height: 150px;
    text-align: center;
    padding-top: 40px;
}

nav{
    background-color: var(--cor5);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.233);
    color: var(--cor1);
}

nav>a{
  color: white;
  padding: 10px;
  margin: auto;
  text-decoration: solid;
  font-weight: bolder;
  border-radius: 5px;
  transition-duration: 0.3s;
}
nav> a:hover{
 color: var(--cor5);
 background-color: var(--cor3);
}

nav a abbr{
    text-decoration: none;
}
main{
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    max-width: 1000px;
    min-width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.458);
    border-bottom-right-radius: 10px ;
    border-bottom-left-radius: 10px;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-andrid);
}

main h2{
    font-family: var(--fonte-andrid);
    color: var(--cor4);
    font-size: 1.4em;
    background-image: linear-gradient(to right,var(--cor1),transparent);
    text-indent: 7px;
}

main p{
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

main img{
    width: 100%;
}

main strong{
    color: var(--cor5);
    font-weight: bold;
    padding: 2px 5px;
}

img.pequena{
   max-width: 360px;
   display: block;
   margin: auto;
}

main a{
    background-color:var(--cor1);
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 4px;
}

main a:hover{
    color: var(--cor1);
    background-color: var(--cor5);
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video> iframe{
 position: absolute;
 top:5%;
 left: 5%;
 width: 90% ;
 height: 90% ;
}

aside{
    background-color: var(--cor1);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 4px 8px 1px  rgba(0, 0, 0, 0.295);
    border-color: var(--cor5);
    border: 10px  black;
}

aside>h3{
    background-color: var(--cor4);
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
}

aside ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: "\1F463";
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
}
footer>a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer a:hover{
    color: aqua;
    text-decoration: underline;
}
